/* général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body {
    font-family: 'Source Serif Pro', serif;
}

h1, h2, h3 {
    margin-bottom: 20px;
}

a {
    color: #222;
    text-decoration: none;
}

p {
    margin-bottom: 10px;
}

.container {
    max-width: 1000px;
    display: block;
    margin: auto;
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.underline {
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.chip {
    display: inline-block;
    text-align: center;
    width: 55px;
    border-radius: 90%;
    background: #333;
    color: #fff;
}

.chip-purple {
    background: #6d0f80;
}

.chip-brown {
    background: #8c5e24;
}

.separator {
    margin: 20px auto;
    height: 10px;
    width: 100px;
    background: #fff;
}

.btn {
    display: inline-block;
    font-size: 14px;
    padding: 15px 25px;
    border-radius: 30px;
    font-weight: 700;
}

.btn-primary {
    background: #444;
    color: #fff;
}

.btn-primary:hover {
    background-color: #222;
    color: #fff;
} 

.btn-dark {
    background: #222;
    color: #fff;
}

.btn-dark:hover {
    background: #fff;
    color: #222;
    text-shadow: 1px 1px #000;
    border: 1px solid #222;
}

/* header */
.header {
    background: #000;
    overflow: auto;
    line-height: 1.7em;
}

.header nav h1 {
    float: left;
    padding: 20px;
    margin-bottom: 0;
}

.header nav h1 a {
    color: #fff;
}

.header nav ul {
    float: right;
    list-style: none;
}

.header nav ul li {
    float: left;
}

.header nav ul li a {
    color: #fff;
    padding: 20px;
    display: block;
}

.header nav ul li a:hover, .active {
    background: #444;
}

/* value proposition */
.vp { 
    height: 700px;
    background: url(https://img3.goodfon.com/original/3648x2736/d/ba/concert-smoke-crowd-people.jpg) center center;
    background-size: cover;
    text-align: center;
}
.vp-content {
    max-width: 600px;
    padding-top: 150px;
    color: #fff;
    text-shadow: 2px 3px #111;
    margin: auto;
}

.vp-content h1 {
    font-size: 50px;
}

.vp-content p {
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 1.7em;
}

/* features */
.features {
    overflow: auto;
    padding: 100px 0;
    text-align: justify;
}

.feature {
    float: left;
    width: 50%;
    padding: 25px;
}

/* affiche */
.affiche {
    display: block;
    width: 80%;
}

.affiche .boxe {
    vertical-align: middle;
    margin-top: 50px;
    
}

.affiche .selfdefense {
    align-self: middle;
    margin-top: 50px;
    
}

/* person */
.person {
    height: 400px;
    background:url(https://media.istockphoto.com/photos/halloween-jack-o-lanterns-candles-and-string-lights-on-wooden-table-picture-id1170764643?k=20&m=1170764643&s=612x612&w=0&h=X8MkdKtaqqTNLcDTBULcCQPkdfnLZsbg0mSRDj6SGvM=) center center;
    background-size: cover;
}

/* reservation */
.reservation {
    padding: 100px 0;
    color: #fff;
    text-shadow: 2px 3px#444;
    text-align: center;
}

/* where */
.where {
    padding: 180px 0;
    overflow: auto;
    min-height: 80vh;
}

.iframe {
    margin: 0 170px 10px 170px;
}
.where-text {
    float: right;
    width: 100%;
    text-align: center;
}
 
/* contact */
.contact {
    padding: 180px 0 180px 0;
    min-height: 80vh;
}

.contact-form-container {
    max-width: 600px;
    margin: auto;
}

.contact-form-container form label {
    display: block;
    font-weight: 700;
}

/*.contact-form-container form input, textarea {
    display: block;
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.contact-form-container form textarea {
    min-height: 80px;
} */

/* footer */
footer {
    background: #222;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

footer p {
    margin-top: 0;
}